html,
body {
  font-size: 14px;
  font-family: 'SF UI Display', sans-serif;
}

.mobile-menu div {
  width: 32px;
  height: 1px;
  background-color: black;
  margin: 3px 0;
}

.lh-3 {
  line-height: 3;
}