<app-header></app-header>

<main NgxLoadingXBlur [show]="carregar.load || false">
  <section class="p-6 md:p-14">
    <div class="flex flex-col text-center gap-6">
      <h3 class="text-md md:text-xl">
        Aprenda uma nova habilidade, lance um projeto, alcance a carreira dos seus sonhos
      </h3>
      <h1 class="text-4xl md:text-6xl font-bold">
        <span class="text-primary">Mentoria</span> especializada <span class="text-primary">1 para 1</span>
      </h1>

      <!-- Formulário -->
      <h2 class="text-md md:text-xl text-gray-600">Encontre um mentor hoje:</h2>
      <form class="form" [formGroup]="form" (submit)="buscarMentores()">
        <input id="busca" type="text" class="campo-busca" placeholder="Busque por habilidades, cargos ou empresas"
          formControlName="texto">
        <button class="bg-primary btn-buscar" type="submit">Buscar</button>
      </form>

      <!-- Tags em Destaque -->
      <div class="mx-auto w-full md:w-1/2">
        <ul class="flex flex-wrap justify-center gap-2 leading-8">
          <li *ngFor="let tag of tags; let i = index">
            <a id="tag{{i}}" class="badge cursor-pointer" (click)="buscarMentoresPorTag(tag.id)">
              {{ tag.nome }}
            </a>
          </li>
        </ul>
      </div>

      <!-- Totais -->
      <div class="mx-auto py-6">
        <div class="total">
          <div class="flex gap-3" *ngFor="let total of totais">
            <div class="flex-none relative">
              <i class="fa-5x fa-solid text-primary {{total?.icone}}"></i>
            </div>
            <div class="flex-auto p-2">
              <div class="text-3xl md:text-5xl font-bold">{{ total.valor }}+</div>
              <div class="text-md md:text-lg text-gray-600">{{ total.descricao }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-slate-200 px-6 md:px-24 py-8">
    <div class="flex flex-col gap-6" *ngFor="let item of avaliacoes">
      <p class="font-bold text-xl">
        <i class="fa-solid fa-star text-yellow"></i>
        <i class="fa-solid fa-star text-yellow"></i>
        <i class="fa-solid fa-star text-yellow"></i>
        <i class="fa-solid fa-star text-yellow"></i>
        <i class="fa-solid fa-star text-yellow"></i>
      </p>

      <p class="text-gray-600 font-400 w-full md:w-1/2">{{ item.comentario }}</p>

      <div class="flex gap-4 items-center">
        <div class="flex-none relative">
          <img class="w-16 rounded-full" [src]="item.fotoUsuario" alt="Foto">
        </div>
        <div class="flex flex-col">
          <p class="font-bold text-slate-600 text-lg">{{ item.nomeUsuario }}</p>
          <p class="text-slate-600">{{ item.cargoUsuario }}</p>
        </div>
      </div>

      <div class="flex justify-end gap-2">
        <input type="radio" checked />
        <input type="radio" />
        <input type="radio" />
      </div>
    </div>
  </section>

  <section class="px-6 md:px-24 py-8">
    <div class="py-6">
      <h2 class="text-3xl font-bold text-slate-900">
        Busque em {{ totais[0]?.valor }}+<span class="block">mentores disponíveis</span>
      </h2>
    </div>

    <div class="py-6">
      <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-6">
        <ng-container *ngFor="let mentor of mentores">
          <div class="card cursor-pointer" (click)="verMentor(mentor.apelido)">
            <div class="flex justify-between">
              <div class="flex gap-4">
                <div class="flex-none relative">
                  <img class="w-16 rounded-lg" [src]="mentor.foto" alt="Foto" loading="lazy">
                </div>
                <div class="flex flex-col gap-1">
                  <h4 class="font-bold text-slate-900 text-lg">{{ mentor.nome }}</h4>
                  <span class="text-gray-600">{{ mentor.cargo }}</span>
                </div>
              </div>

              <div class="flex gap-1">
                <span><i class="fa-solid fa-star text-yellow"></i></span>
                <span class="font-bold"> {{ mentor?.nota }} </span>
              </div>
            </div>

            <ul class="flex flex-wrap items-center gap-2 leading-6 mt-4">
              <li *ngFor="let tag of mentor?.tags">
                <a class="badge text-sm">{{ tag.nome }}</a>
              </li>
            </ul>
          </div>
        </ng-container>
      </div>
    </div>
  </section>

  <app-secao-propaganda></app-secao-propaganda>
</main>

<app-footer></app-footer>

<ngx-loading-x [show]="carregar.load || false"></ngx-loading-x>