<header>
  <div class="flex justify-between items-center p-6">
    <a class="flex-none relative" routerLink="/">
      <img src="assets/images/logo-mentorr.svg" alt="Logotipo Mentorr">
    </a>

    <div class="drop" *ngIf="usuario; else acessarConta">
      <a class="drop-btn cursor-pointer" (click)="mostrarDrop = !mostrarDrop">
        <i class="fa-solid fa-user-circle text-blue-600"></i>
        <span class="text-md text-gray-600"> @ {{usuario?.apelido}} </span>
      </a>
      <div class="dropdown" [ngClass]="{'show':mostrarDrop}">
        <a routerLink="/{{profile | lowercase}}/mentorias">Ver Mentorias</a>
        <a (click)="deslogar()">Sair</a>
      </div>
    </div>

    <ng-template #acessarConta>
      <div class="flex items-center gap-12">
        <app-botao-azul estilo="hidden md:flex" label="Quero ser aluno" (func)="irParaCadastro()"></app-botao-azul>
        <a class="text-gray-600 font-bold hover:text-blue-600" routerLink="/entrar">Entrar</a>
      </div>
    </ng-template>
  </div>
</header>
