<header>
  <div class="flex justify-between items-center p-6">
    <a class="flex-none relative" href="/">
      <img src="assets/images/logo-mentorr.svg" alt="Logotipo Mentorr">
    </a>

    <div class="hidden md:flex items-center gap-12" *ngIf="!usuario; else mostrarConta">
      <app-botao-azul label="Quero ser aluno" (func)="irPara('/cadastro')"></app-botao-azul>
      <a class="text-gray-600 font-bold hover:text-blue-700" href="/login">Entrar</a>
    </div>

    <ng-template #mostrarConta>
      <span class="text-md text-gray-600 hover:text-blue-600">Olá, {{ usuario?.apelido }}!</span>
    </ng-template>
  </div>

  <div class="hidden md:flex items-center p-4 border-t-2 border-b-2">
    <nav class="container mx-auto">
      <ul class="flex justify-between">
        <li *ngFor="let tag of tags?.lista">
          <a class="font-light text-gray-600 hover:text-blue-600" href="#">{{tag.nome}}</a>
        </li>
      </ul>
    </nav>
  </div>
</header>