<app-header></app-header>

<main NgxLoadingXBlur [show]="carregar.load || false">
  <div class="hero" *ngIf="!carregar.load">
    <div class="flex-none relative">
      <img class="w-64 rounded-lg" [src]="mentor.foto" alt="Foto" loading="lazy" />
    </div>

    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <h1 class="font-bold text-3xl md:text-4xl">{{ mentor.nome }}</h1>
        <h3 class="text-xl text-gray-600">{{ mentor.cargo }} @ {{ mentor.empresa }}</h3>
      </div>
      <div class="flex gap-1 items-center">
        <p class="font-bold text-md">
          <i class="fa-solid fa-star text-yellow"></i> {{ mentor?.nota || '0.0' }}
          <span class="font-light"> ({{ mentor?.nota || '0' }} avaliações) </span>
        </p>
      </div>
      <div class="flex flex-col gap-1">
        <p class="text-lg" *ngFor="let item of resumo">
          <i class="fa-solid text-primary {{item.icone}}"></i>
          <span class="text-gray-800"> {{item.descricao}} </span>
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-8">
      <div class="flex flex-col gap-2">
        <h3 class="font-bold text-md md:text-lg">Habilidades</h3>
        <ul class="flex flex-wrap gap-4 leading-8">
          <li *ngFor="let tag of mentor?.tags">
            <a class="badge">{{ tag.nome }}</a>
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="font-bold text-md md:text-lg">Redes Sociais</h3>
      </div>
    </div>
  </div>

  <hr />

  <div class="section" *ngIf="!carregar.load">
    <div class="main">
      <div class="flex flex-col gap-1">
        <h2 class="font-bold text-2xl md:text-3xl">Sobre mim</h2>
        <textarea class="text-gray-800 text-lg mt-4" rows="16" [value]="mentor.descricao" readonly></textarea>
        <!-- <p class="text-gray-800 text-lg mt-4">{{ mentor.descricao }}</p> -->
      </div>
      <div class="flex flex-col gap-1">
        <h2 class="font-bold text-2xl md:text-3xl">Avaliações</h2>
        <div class="grid grid-cols-1 gap-6 mt-4">
          <ng-container *ngFor="let item of avaliacoes">
            <div class="card">
              <p class="font-bold text-lg">
                <i class="fa-solid fa-star text-yellow"></i>
                <i class="fa-solid fa-star text-yellow"></i>
                <i class="fa-solid fa-star text-yellow"></i>
                <i class="fa-solid fa-star text-yellow"></i>
                <i class="fa-solid fa-star text-yellow"></i>
              </p>

              <p class="text-gray-600 font-400 w-full">{{ item.comentario }}</p>

              <div class="flex gap-4 items-center">
                <div class="flex-none relative">
                  <img class="w-16 rounded-full" [src]="item.fotoUsuario" alt="Foto">
                </div>
                <div class="flex flex-col">
                  <p class="font-bold text-slate-600 text-lg">{{ item.nomeUsuario }}</p>
                  <p class="text-slate-600">{{ item.cargoUsuario }}</p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="aside">
      <div class="flex flex-col gap-6">
        <h3 class="font-bold text-xl md:text-2xl">Planos</h3>
        <div class="grid grid-cols-1 gap-6">
          <ng-container *ngFor="let plano of mentor?.planos">
            <div class="card cursor-pointer">
              <div class="flex justify-between">
                <div class="flex gap-4">
                  <i class="fa-2x fa-solid fa-briefcase text-primary"></i>
                  <h4 class="font-bold text-xl">R$ {{ plano.valor }}/mês</h4>
                </div>

                <div class="flex gap-1">
                  <i class="fa-solid fa-user-group text-primary"></i>
                  <span class="font-bold">2 vagas</span>
                </div>
              </div>

              <div class="flex flex-col gap-2">
                <p>4 chamadas</p>
                <p>Mensagens ilimitadas</p>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="flex flex-col gap-6">
        <h3 class="font-bold text-xl md:text-2xl">Mentores Similares</h3>
        <div class="grid grid-cols-1 gap-6">
          <ng-container *ngFor="let mentor of similares.lista">
            <div class="card cursor-pointer" (click)="verMentor(mentor.apelido)">
              <div class="flex justify-between">
                <div class="flex gap-4">
                  <div class="flex-none relative">
                    <img class="w-16 rounded-lg" [src]="mentor.foto" alt="Foto" loading="lazy">
                  </div>
                  <div class="flex flex-col gap-1">
                    <h4 class="font-bold text-slate-900 text-lg">{{ mentor.nome }}</h4>
                    <span class="text-gray-600">{{ mentor.cargo }} @ {{ mentor.empresa }}</span>
                    <span class="font-bold text-md">{{ mentor?.valor || 'R$ 0,00' }}/mês</span>
                  </div>
                </div>

                <div class="flex gap-1">
                  <i class="fa-solid fa-star text-yellow"></i>
                  <span class="font-bold">{{ mentor?.nota || '0.0' }}</span>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>

<ngx-loading-x [show]="carregar.load || false"></ngx-loading-x>