<app-header></app-header>
<div class="breadcrumb">
  <p>
    <a class="hover:text-blue-600" routerLink="/">
      <em class="fa-solid fa-home"></em>
    </a> /
    <a class="underline hover:text-blue-600" routerLink="/mentores/busca">Busca por mentores</a> /
    <a class="text-bold text-primary">{{ apelido }}</a>
  </p>
</div>

<main NgxLoadingXBlur [show]="carregar.load || false">
  <div class="hero" *ngIf="!carregar.load">
    <div class="flex-none relative">
      <img class="w-64 rounded-lg" [src]="mentor?.foto" alt="Foto" loading="lazy" />
    </div>

    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <h1 class="font-bold text-3xl md:text-4xl">{{ mentor?.nome }}</h1>
        <h3 class="text-xl text-gray-600">{{ mentor?.cargo }} @ {{ mentor?.empresa }}</h3>
      </div>
      <div class="flex gap-1 items-center">
        <ng-container *ngIf="mentor?.nota; else semNota">
          <span><i class="fa-solid fa-star text-yellow"></i></span>
          <span class="font-bold"> {{ mentor?.nota }} </span>
          <span class="font-light"> ({{ mentor?.avaliacoes?.length }} avaliações) </span>
        </ng-container>

        <ng-template #semNota>
          <i class="fa-regular fa-star text-yellow"></i>
          <span class="font-bold"> 0.0 </span>
          <span class="font-light"> (Não avaliado) </span>
        </ng-template>
      </div>
      <div class="flex flex-col gap-1">
        <p class="text-lg" *ngFor="let item of resumo">
          <i class="fa-solid text-primary {{item.icone}}"></i>
          <span class="text-gray-800"> {{item.descricao}} </span>
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-8">
      <div class="flex flex-col gap-2">
        <h3 class="font-bold text-md md:text-lg">Conquistas</h3>
        <ul class="flex flex-wrap gap-4 leading-8">
          <li>
            <a class="badge badge-primary">
              <em class="fa-solid fa-fire"></em> Novo Mentor
            </a>
          </li>
        </ul>
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="font-bold text-md md:text-lg">Habilidades</h3>
        <ul class="flex flex-wrap gap-4 leading-8">
          <li *ngFor="let tag of mentor?.tags">
            <a class="badge badge-gray">{{ tag.nome }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr />

  <div class="section" *ngIf="!carregar.load">
    <div class="main">
      <div class="flex flex-col gap-1">
        <h2 class="font-bold text-2xl md:text-3xl">Sobre mim</h2>
        <p class="whitespace-break-spaces text-gray-800 text-lg mt-4">{{ mentor?.descricao }}</p>
      </div>
      <div class="flex flex-col gap-1">
        <div class="flex py-2 justify-between">
          <h2 class="font-bold text-2xl md:text-3xl">Avaliações</h2>
          <div class="drop" *ngIf="mentor?.avaliacoes?.length">
            <a class="drop-btn cursor-pointer" (click)="mostrarDrop = !mostrarDrop">
              <i class="fa-solid fa-chevron-down"></i> Ordenando por {{ tipoOrdemAvaliacoes | lowercase }}
            </a>
            <div class="dropdown" [ngClass]="{'show':mostrarDrop}">
              <a [ngClass]="{'text-primary':tipoOrdemAvaliacoes === 'NOTA'}" (click)="ordenarAvaliacoes('NOTA')">
                Por nota
              </a>
              <a [ngClass]="{'text-primary':tipoOrdemAvaliacoes === 'DATA'}" (click)="ordenarAvaliacoes('DATA')">
                Por data
              </a>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-6 mt-4">
          <ng-container *ngIf="mentor?.avaliacoes?.length; else semAvaliacoes">
            <div class="flex flex-col gap-6 border-b-2 p-4" *ngFor="let avaliacao of mentor?.avaliacoes">
              <div class="flex gap-4">
                <div class="flex-none relative">
                  <img class="w-16 rounded-full" src="assets/images/avatar.svg" alt="Foto" loading="lazy">
                </div>
                <div class="flex flex-col gap-1">
                  <p class="font-400">{{ avaliacao.aluno }}</p>
                  <div class="flex gap-1">
                    <span *ngFor="let item of avaliacao.estrelas">
                      <i class="fa-solid text-yellow fa-{{item.completa ? 'star' : 'star-half-stroke'}}"></i>
                    </span>
                    <span>-</span>
                    <span class="font-light text-gray-600">{{ avaliacao.data | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                  </div>
                </div>
              </div>
              <div class="flex gap-1">
                <p class="text-gray-600 text-md w-full">{{ avaliacao.comentario }}</p>
              </div>
            </div>
          </ng-container>

          <ng-template #semAvaliacoes>
            <p class="text-gray-800 text-lg">Mentor ainda não avaliado.</p>
          </ng-template>
        </div>
      </div>
      <div class="flex flex-col gap-6">
        <h3 class="font-bold text-xl md:text-2xl">Mentores Similares</h3>
        <div class="grid grid-cols-1 gap-6">
          <ng-container *ngIf="similares?.length; else semSimilares">
            <app-card-mentor-sm [mentor]="mentor" *ngFor="let mentor of similares"></app-card-mentor-sm>
          </ng-container>

          <ng-template #semSimilares>
            <p class="text-gray-800 text-lg">Nenhum mentor similar encontrado.</p>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="aside">
      <div class="flex flex-col gap-6">
        <h3 class="font-bold text-xl md:text-2xl">Planos</h3>
        <div class="grid grid-cols-1 gap-6">
          <ng-container *ngFor="let plano of mentor?.planos">
            <div class="card">
              <div class="flex flex-col gap-6">
                <h2 class="font-bold text-slate-900 text-2xl md:text-4xl">
                  {{ plano.valor | currency }}/mês
                </h2>
                <p class="text-gray-800 text-lg">{{ plano.descricao }}</p>
                <div class="flex flex-col gap-2">
                  <p class="text-lg">
                    <i class="fa-solid text-primary fa-phone-volume"></i>
                    <span class="text-gray-800">
                      {{ plano.totalChamadas }} chamadas por mês ({{ plano.duracaoChamada }}min/chamada)
                    </span>
                  </p>
                  <p class="text-lg">
                    <i class="fa-solid text-primary fa-comments"></i>
                    <span class="text-gray-800"> Chat ilimitado </span>
                  </p>
                  <p class="text-lg">
                    <i class="fa-solid text-primary fa-clock"></i>
                    <span class="text-gray-800"> Responde em até {{ plano.tempoResposta }}h </span>
                  </p>
                </div>
              </div>
              <div class="flex">
                <button class="bg-primary btn-perfil w-full" (click)="abrirModal(plano)">Solicitar</button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>

<ngx-loading-x [show]="carregar.load || false"></ngx-loading-x>

<app-modal-solicitacao #modal [mentor]="mentor"></app-modal-solicitacao>
