<app-header></app-header>

<main NgxLoadingXBlur [show]="carregar.load || false">
  <section class="p-6 md:p-14">
    <div class="flex flex-col text-center gap-6">
      <h3 class="text-md md:text-xl">
        Aprenda uma nova habilidade, lance um projeto, alcance a carreira dos seus sonhos
      </h3>

      <h1 class="text-4xl md:text-6xl font-bold">
        Mentoria
        <span class="text-blue-600">especializada</span>
        1 para 1
      </h1>

      <h2 class="text-md md:text-xl text-gray-600">Encontre um mentor hoje:</h2>

      <div class="flex flex-col md:flex-row mx-auto gap-4 w-full md:w-1/2">
        <input class="font-light border p-4 rounded-lg w-full md:w-3/4" type="text"
          placeholder="Busque por habilidades, cargos ou empresas">

        <button
          class="bg-blue-600 text-white font-semibold rounded-lg px-6 py-2 w-full lh-3 md:w-1/4 hover:bg-blue-800">
          Buscar
        </button>
      </div>

      <div class="mx-auto w-full md:w-1/2">
        <ul class="flex flex-wrap justify-center gap-2 leading-8">
          <li>
            <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white" href="#">
              tecnologia
            </a>
          </li>
          <li>
            <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white" href="#">
              ux/ui design
            </a>
          </li>
          <li>
            <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white" href="#">
              gestão
            </a>
          </li>
          <li>
            <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white" href="#">
              negócios
            </a>
          </li>
          <li>
            <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white" href="#">
              financeiro
            </a>
          </li>
          <li>
            <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white" href="#">
              startups
            </a>
          </li>
        </ul>
      </div>

      <div class="mx-auto py-6">
        <div class="flex flex-wrap flex-col md:flex-row items-center justify-center gap-16 md:gap-32">
          <div class="flex gap-3">
            <div class="flex-none relative">
              <img src="assets/images/icons/icon-mentor.svg" alt="" class="w-16 md:w-24" />
            </div>
            <div class="flex-auto p-2">
              <div class="text-3xl md:text-5xl font-bold">5.400+</div>
              <div class="text-md md:text-lg text-gray-600">Mentores disponíveis</div>
            </div>
          </div>

          <div class="flex gap-3">
            <div class="flex-none relative">
              <img src="assets/images/icons/icon-maos.svg" alt="" class="w-16 md:w-24" />
            </div>
            <div class="flex-auto p-2">
              <div class="text-3xl md:text-5xl font-bold">23.100+</div>
              <div class="text-md md:text-lg text-gray-600">Parcerias firmadas</div>
            </div>
          </div>

          <div class="flex gap-3">
            <div class="flex-none relative">
              <img src="assets/images/icons/icon-mundo.svg" alt="" class="w-16 md:w-24" />
            </div>
            <div class="flex-auto p-2">
              <div class="text-3xl md:text-5xl font-bold">130+</div>
              <div class="text-md md:text-lg text-gray-600">Países representados</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-slate-200 px-6 md:px-24 py-8">
    <div class="flex flex-col gap-6">
      <div class="flex-none w-40 relative">
        <img src="assets/images/pic/stars.svg" alt="5 Estrelas">
      </div>

      <p class="text-gray-600 font-400 w-full md:w-1/2">
        Fazer mentoria com o Thormes foi uma experiência transformadora. Ele me ajudou a entender o mercado, aprimorar
        minhas habilidades e traçar metas claras para minha carreira. Hoje, sinto-me muito mais confiante para seguir
        nessa nova jornada.
      </p>

      <div class="flex gap-4 items-center">
        <div class="flex-none relative">
          <img src="assets/images/pic/kauan.png" alt="Kauan Ribeiro">
        </div>

        <div class="flex flex-col">
          <p class="font-bold text-slate-600 text-lg">
            Kauan Ribeiro Feijó
          </p>
          <p class="text-slate-600">
            Desenvolver Web na Google
          </p>
        </div>
      </div>

      <div class="flex justify-end gap-2">
        <input type="radio" checked />
        <input type="radio" />
        <input type="radio" />
      </div>
    </div>
  </section>

  <section class="px-6 md:px-24 py-8">
    <div class="py-6">
      <h2 class="text-3xl font-bold text-slate-900">
        Busque em 5.400+<span class="block">mentores disponíveis</span>
      </h2>
    </div>

    <div class="py-6">
      <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-6">
        <div class="col-span-1 border border-gray-300 rounded-lg p-4 hover:shadow">
          <div class="flex gap-4">
            <div class="relative flex-none">
              <img src="assets/images/pic/thormes.png" alt="Thormes F.">
            </div>

            <div class="flex flex-col">
              <div class="flex justify-between">
                <h4 class="font-bold text-slate-900 text-lg">Thormes F.</h4>
                <div class="flex items-start gap-1">
                  <img class="w-4" src="assets/images/pic/star.svg" alt="Rating">
                  <span class="text-slate-900 font-bold">5.0</span>
                </div>
              </div>

              <span class="text-gray-600">Desenvolvedor Backend Sênior</span>

              <ul class="flex flex-wrap gap-2 leading-6 text-sm mt-4">
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    tecnologia
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    ux/ui design
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    gestão
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    negócios
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    financeiro
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-span-1 border border-gray-300 rounded-lg p-4 hover:shadow">
          <div class="flex gap-4">
            <div class="relative flex-none">
              <img src="assets/images/pic/thormes.png" alt="Thormes F.">
            </div>

            <div class="flex flex-col">
              <div class="flex justify-between">
                <h4 class="font-bold text-slate-900 text-lg">Thormes F.</h4>
                <div class="flex items-start gap-1">
                  <img class="w-4" src="assets/images/pic/star.svg" alt="Rating">
                  <span class="text-slate-900 font-bold">5.0</span>
                </div>
              </div>

              <span class="text-gray-600">Desenvolvedor Backend Sênior</span>

              <ul class="flex flex-wrap gap-2 leading-6 text-sm mt-4">
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    tecnologia
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    ux/ui design
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    gestão
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    negócios
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    financeiro
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-span-1 border border-gray-300 rounded-lg p-4 hover:shadow">
          <div class="flex gap-4">
            <div class="relative flex-none">
              <img src="assets/images/pic/thormes.png" alt="Thormes F.">
            </div>

            <div class="flex flex-col">
              <div class="flex justify-between">
                <h4 class="font-bold text-slate-900 text-lg">Thormes F.</h4>
                <div class="flex items-start gap-1">
                  <img class="w-4" src="assets/images/pic/star.svg" alt="Rating">
                  <span class="text-slate-900 font-bold">5.0</span>
                </div>
              </div>

              <span class="text-gray-600">Desenvolvedor Backend Sênior</span>

              <ul class="flex flex-wrap gap-2 leading-6 text-sm mt-4">
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    tecnologia
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    ux/ui design
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    gestão
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    negócios
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    financeiro
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-span-1 border border-gray-300 rounded-lg p-4 hover:shadow">
          <div class="flex gap-4">
            <div class="relative flex-none">
              <img src="assets/images/pic/thormes.png" alt="Thormes F.">
            </div>

            <div class="flex flex-col">
              <div class="flex justify-between">
                <h4 class="font-bold text-slate-900 text-lg">Thormes F.</h4>
                <div class="flex items-start gap-1">
                  <img class="w-4" src="assets/images/pic/star.svg" alt="Rating">
                  <span class="text-slate-900 font-bold">5.0</span>
                </div>
              </div>

              <span class="text-gray-600">Desenvolvedor Backend Sênior</span>

              <ul class="flex flex-wrap gap-2 leading-6 text-sm mt-4">
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    tecnologia
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    ux/ui design
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    gestão
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    negócios
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    financeiro
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-span-1 border border-gray-300 rounded-lg p-4 hover:shadow">
          <div class="flex gap-4">
            <div class="relative flex-none">
              <img src="assets/images/pic/thormes.png" alt="Thormes F.">
            </div>

            <div class="flex flex-col">
              <div class="flex justify-between">
                <h4 class="font-bold text-slate-900 text-lg">Thormes F.</h4>
                <div class="flex items-start gap-1">
                  <img class="w-4" src="assets/images/pic/star.svg" alt="Rating">
                  <span class="text-slate-900 font-bold">5.0</span>
                </div>
              </div>

              <span class="text-gray-600">Desenvolvedor Backend Sênior</span>

              <ul class="flex flex-wrap gap-2 leading-6 text-sm mt-4">
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    tecnologia
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    ux/ui design
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    gestão
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    negócios
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    financeiro
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-span-1 border border-gray-300 rounded-lg p-4 hover:shadow">
          <div class="flex gap-4">
            <div class="relative flex-none">
              <img src="assets/images/pic/thormes.png" alt="Thormes F.">
            </div>

            <div class="flex flex-col">
              <div class="flex justify-between">
                <h4 class="font-bold text-slate-900 text-lg">Thormes F.</h4>
                <div class="flex items-start gap-1">
                  <img class="w-4" src="assets/images/pic/star.svg" alt="Rating">
                  <span class="text-slate-900 font-bold">5.0</span>
                </div>
              </div>

              <span class="text-gray-600">Desenvolvedor Backend Sênior</span>

              <ul class="flex flex-wrap gap-2 leading-6 text-sm mt-4">
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    tecnologia
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    ux/ui design
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    gestão
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    negócios
                  </a>
                </li>
                <li>
                  <a class="bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white"
                    href="#">
                    financeiro
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-slate-900 text-white px-6 md:px-24 py-8 md:py-12">
    <div class="flex flex-col justify-center items-center gap-10">
      <h4 class="md:text-2xl font-bold text-white">
        Pronto para dá o próximo passo na sua carreira?
      </h4>
      <h3 class="text-2xl md:text-4xl font-bold text-white">
        Não perca tempo! Crie sua conta já.
      </h3>

      <div class="flex flex-col md:flex-row gap-6">
        <button class="bg-blue-600 font-bold px-12 py-4 rounded-lg hover:bg-blue-800">
          Quero ser aluno
        </button>
        <button class="border border-blue-600 font-bold px-12 py-4 rounded-lg hover:bg-blue-800">
          Quero ser mentor
        </button>
      </div>

      <p class="text-slate-300">Não é necessário cartão de crédito.</p>
    </div>
  </section>
</main>

<app-footer></app-footer>

<ngx-loading-x [show]="carregar.load || false"></ngx-loading-x>