<footer class="bg-slate-950 text-white p-6 md:p-12">
  <div class="flex flex-col md:flex-row gap-16 md:gap-40 items-center">
    <a class="flex-none relative" href="/">
      <img src="assets/images/logo-mentorr-branca.svg" alt="Logo Mentorr">
    </a>

    <div class="flex flex-wrap flex-col md:flex-row items-center md:items-start gap-8 md:gap-32">
      <div class="flex flex-col gap-1 items-center md:items-start" *ngFor="let texto of textos">
        <h5 class="text-blue-600 font-bold text-md mb-4">{{ texto.titulo }}</h5>
        <ng-container *ngFor="let link of texto.links">
          <a class="text-slate-300 text-md hover:text-blue-800 hover:underline" [href]="link.rota">
            {{ link.descricao }}
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</footer>