@tailwind base;
@tailwind components;
@tailwind utilities;

/*** 1.0 - Variáveis ***/
$primary: #386ef1;
$primary-darker: darken($primary, 10%);

$black: #0f172a;
$yellow: #f5bf14;

$gray: #cbd5e1;
$gray-darker: darken($gray, 10%);

$font-size-base: 14px;
$font-family-base: "SF UI Display", sans-serif;
$border-radius-base: 0.5rem;

/*** 2.0 - Reset ***/
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: $font-size-base;
  font-family: $font-family-base;
}

/*** 3.0 - Base ***/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $black;
}

button:disabled {
  color: $gray-darker;
  cursor: not-allowed;
}

button.bg-primary:hover,
button.bg-primary:focus {
  background-color: $primary-darker;
}

button.bg-slate-200:hover,
button.bg-slate-200:focus {
  background-color: $gray;
}

textarea {
  resize: none;
}

/*** 4.0 - Cores ***/
.text-primary {
  color: $primary;
}

.text-yellow {
  color: $yellow;
}

.bg-primary {
  background-color: $primary;
}

.border-primary {
  border-color: $primary;
}

/*** 5.0 - Módulos do Angular ***/
.paginacao {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ngx-pagination .current {
  background: $primary !important;
  border-radius: $border-radius-base;
}

.ng-select {
  .ng-select-container {
    background-color: #f1f5f9 !important;
    border-radius: $border-radius-base !important;
  }
}

.ng-select.ng-invalid.ng-dirty {
  .ng-select-container {
    border-color: red !important;
  }
}

.ng-invalid.ng-touched {
  border-color: red;
}

.swal2-confirm.swal2-styled {
  background-color: $primary;
}

/*** 6.0 - Formulários ***/
.form-control {
  @apply font-light bg-slate-100 border p-2 rounded-lg focus:outline-none focus:border-blue-600 hover:bg-slate-200;
}

.form-group {
  @apply flex flex-col gap-1;
}

[required]::after {
  content: "*";
  color: red;
  margin-left: 2px;
}

/*** 7.0 - Dropdown ***/
.drop-btn {
  @apply bg-slate-100 font-semibold border rounded-lg px-4 py-2 hover:bg-slate-200;
}

.dropdown {
  z-index: 1;
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 16px 0px #dcdcdc;
}

.dropdown a {
  display: block;
  cursor: pointer;
  text-align: left;
  padding: 12px 16px;
  text-decoration: none;
  border-bottom: 1px solid #f5f5f5;
}

.dropdown a:first-child {
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown a:last-child {
  border-bottom: 0;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown a:hover {
  background-color: #f5f5f5;
}

.show {
  display: block !important;
}

/*** 8.0 - Global ***/
.badge {
  @apply bg-gray-200 text-gray-800 py-1 px-3 rounded-full hover:bg-blue-600 hover:text-white;
}

.tabs {
  @apply flex items-center justify-center leading-8;
}

.tab {
  @apply bg-gray-100 text-gray-800 text-center py-1 px-3 border-b-2 w-full;
}

.tab.active {
  @apply border-blue-600 text-blue-600 font-bold;
}

.tabs-btn {
  @apply flex justify-between;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

/*** 9.0 - Modal ***/
.modal {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  background-color: rgba(30, 30, 30, 0.4);
}

.modal-content {
  width: 90%;
  margin: auto;
  position: relative;
  margin-top: 3vh;
  animation: scroll-from-top 0.4s;
}

.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.modal-body {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: white;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

/*** 10.0 - Animações ***/
@keyframes scroll-from-top {
  0% {
    top: -300px;
    opacity: 0
  }

  100% {
    top: 0;
    opacity: 1
  }
}

.fade-in-out {
  animation: fade-in-out 1s linear infinite alternate;
}

@keyframes fade-in-out {
  0% {
    filter: opacity(1)
  }

  100% {
    filter: opacity(0)
  }
}

/*** 11.0 - Responsividade ***/
@media (min-width: 1200px) {
  .modal-content {
    width: 50%;
  }
}